{#
/**
 * @file
 * Template for the link input form.
 *
 * Available variables:
 * - current_link: The current link value (for editing).
 *
 * @ingroup themeable
 */
#}
<div class="idea-link-input-wrapper">
  <input type="url" class="idea-link-input form-url" placeholder="{{ 'Enter URL...'|t }}" value="{{ current_link }}">
  <button type="button" class="button button--small button--primary idea-link-save">{{ 'Save'|t }}</button>
  <button type="button" class="button button--small idea-link-cancel">{{ 'Cancel'|t }}</button>
</div>
