{#
/**
 * @file
 * Template for the "Add link" button.
 *
 * Available variables:
 * - section: The section identifier.
 * - title: The card title.
 * - idea_index: The index of the idea within the card.
 *
 * @ingroup themeable
 */
#}
<button type="button" class="idea-add-link action-link button--small" data-section="{{ section }}" data-title="{{ title }}" data-idea-index="{{ idea_index }}">{{ '+ Add link'|t }}</button>
