{#
/**
 * @file
 * Template for the "Add link" button.
 *
 * Available variables:
 * - section: The section identifier.
 * - uuid: The card UUID.
 * - idea_uuid: The UUID of the idea.
 *
 * @ingroup themeable
 */
#}
<button type="button" class="idea-add-link action-link button--small" data-section="{{ section }}" data-uuid="{{ uuid }}" data-idea-uuid="{{ idea_uuid }}">{{ '+ Add link'|t }}</button>
